shorewall:
  ipv: # omit means 4 only
    - 4 # ipv4 support
    - 6 # ipv6 support. Cant' be used without ipv4!
  zones:
    mgmt:
      ipv: 4
      type: ipv4
      options:
      in_options:
      out_options:
      comment:
      interfaces:
        eth0:
          ipv: 4
          broadcast: detect
          options: tcpflags,logmartians,nosmurfs
          comment:
        
  policy:
    - source: $FW
      dest: net
      policy: ACCEPT
      comment: Allow Firewall to connect to world
    - source: net
      dest: all
      policy: DROP
      loglevel: info
    - source: all
      dest: all
      policy: REJECT
      loglevel: info
      burstlimit: 10/sec:40
      connlimit: 40/255.255.255.0
      comment: Reject all other connections

  rules:
    - action: SSH(ACCEPT)
      source: all
      dest: all
      comment: Allow SSH connections
      ipv: 4                          # Rule for ipv4
    - action: Ping(ACCEPT)
      source: all
      dest: $FW
      comment: Allow Pings
      ipv: 6                          # Rule for ipv6
    - action: SaltMaster(ACCEPT)
      source: all
      dest: $FW
      comment: Allow connections to saltmaster
      # No ipv is given here          # Rule for ipv4 and ipv6 

