{%- set startup = salt['pillar.get']('shorewall:etcdefault:startup', 1) %}
{%- set wait_interface = salt['pillar.get']('shorewall:etcdefault:wait_interface', False) %}
{%- set options = salt['pillar.get']('shorewall:etcdefault:options', '') %}
{%- set startoptions = salt['pillar.get']('shorewall:etcdefault:startoptions', '') %}
{%- set restartoptions = salt['pillar.get']('shorewall:etcdefault:restartoptions', '') %}
{%- set initlog = salt['pillar.get']('shorewall:etcdefault:initlog', '/dev/null') %}
{%- set safestop = salt['pillar.get']('shorewall:etcdefault:safestop', 0) %}

# prevent startup with default configuration
# set the following varible to 1 in order to allow Shorewall to start

startup={{ startup }}

# If your Shorewall configuration requires detection of the ip address of a ppp
# interface, you must list such interfaces in "wait_interface" to get Shorewall
# to wait until the interface is configured. Otherwise the script will fail
# because it won't be able to detect the IP address.
#
# Example:
#    wait_interface="ppp0"
# or
#    wait_interface="ppp0 ppp1"
# or, if you have defined  in /etc/shorewall/params
#    wait_interface=

{%- if wait_interface %}
wait_interface={{ wait_interface }}
{%- endif %}

#
# Global start/restart/stop options
#
OPTIONS={{ options }}

#
# Start options
#
STARTOPTIONS={{ startoptions }}

#
# Restart options
#
RESTARTOPTIONS={{ restartoptions }}

#
# Init Log -- if /dev/null, use the STARTUP_LOG defined in shorewall.conf
#
INITLOG={{ initlog }}

#
# Set this to 1 to cause '/etc/init.d/shorewall stop' to place the firewall in
# a safe state rather than to open it
#
SAFESTOP={{ safestop }}

# EOF
