# !!! FILE MANAGED BY SALT !!!
#
# Shorewall version {{ pkg_version }} - Params File
#
# /etc/shorewall/params
#
#       Assign any variables that you need here.
#
#       It is suggested that variable names begin with an upper case letter
#       to distinguish them from variables used internally within the
#       Shorewall programs
#
#       Example:
#
#               NET_IF=eth0
#               NET_BCAST=130.252.100.255
#               NET_OPTIONS=routefilter,norfc1918
#
#       Example (/etc/shorewall/interfaces record):
#
#               net     $NET_IF         $NET_BCAST      $NET_OPTIONS
#
#       The result will be the same as if the record had been written
#
#               net     eth0            130.252.100.255 routefilter,norfc1918
#
###############################################################################

{# Renders a list (or list of lists) of IP addresses as Shorewall param format #}
{%- macro render_list(list) -%}
{%- set ip_list = [] -%}
  {%- if list is not iterable -%}
    {%- do ip_list.append(list) -%}
  {%- else -%}
    {%- for item in list -%}
      {%- if item is not iterable -%}
        {%- do ip_list.append(item) -%}
      {%- else -%}
        {%- for i in item -%}
          {%- do ip_list.append(i) -%}
        {%- endfor -%}
      {%- endif -%}
    {%- endfor -%}
  {%- endif -%}
{{ ip_list|join(',') }}
{%- endmacro -%}

{%- for params in salt['pillar.get']('shorewall:params', {}) %}
{# skip if ip version does not match #}
{%-   if params.ipv is defined and params.ipv != ipv %}{% continue %}{%endif %}

# {{ params.get('comment', '') }}
{%- if params.get('value') %}
{{ params.get('key') }}={{ params.get('value') }}

{%- elif params.get('mine') -%}

{%- set mine_target = params.get('mine').get('target') -%}
{%- set mine_function = params.get('mine').get('function') -%}
{%- set mine_expr_form = params.get('mine').get('expr_form') -%}
{%- set default = params.get('default') -%}

{%- set mine_result = salt['mine.get'](mine_target, mine_function, mine_expr_form).values() %}

{{ params.get('key') }}=
{%- if mine_result -%}
{{ render_list(mine_result) }}
{%- else -%}
{{ default }}
{%- endif -%}
{%- endif -%}

{%- endfor %}

#LAST LINE -- DO NOT REMOVE

